.tag                    export-subst
.gitignore              export-ignore
.gitattributes          export-ignore
.commit-template        export-ignore eol=lf
init-repository         export-ignore
README.git              export-ignore
archive/qt/5.12/5.12.12/submodules/qt3d-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtquickcontrols2-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtscript-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtsvg-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtwebengine-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtwebglplugin-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtwinextras-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtconnectivity-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtdeclarative-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtwebview-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtactiveqt-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtgamepad-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtgraphicaleffects-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtmultimedia-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtnetworkauth-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtremoteobjects-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtserialport-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtcanvas3d-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtquickcontrols-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtserialbus-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtwayland-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtandroidextras-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtcharts-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtdoc-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtimageformats-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtlocation-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtmacextras-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qttranslations-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtbase-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtdatavis3d-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtpurchasing-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtspeech-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtsensors-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtvirtualkeyboard-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtwebchannel-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtx11extras-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtxmlpatterns-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/single/qt-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtscxml-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qttools-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.12/5.12.12/submodules/qtwebsockets-everywhere-src-5.12.12.tar.xz filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples.qtscript/5.12.12-0-202111241638qtscript-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtquickcontrols2-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtgraphicaleffects-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples.qtpurchasing/5.12.12-0-202111241638qtpurchasing-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtdoc-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtopengl-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtquick-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qttestlib-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples.qtcharts/5.12.12-0-202111241638qtcharts-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtbase-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtimageformats-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtquickcontrols-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc.qtnetworkauth/5.12.12-0-202111241638qtnetworkauth-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc.qtpurchasing/5.12.12-0-202111241638qtpurchasing-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtgamepad-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtpositioning-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtquickcontrols1-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtsensors-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtwinextras-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638activeqt-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtscxml-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtserialbus-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtqml-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtsql-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtwebchannel-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtwidgets-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtquickcontrols-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtwebsockets-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qt3d-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtnetwork-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtnfc-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtgamepad-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qthelp-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtwebsockets-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtcanvas3d-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtwayland-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtandroidextras-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qttranslations-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtx11extras-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtxml-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtsvg-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtdesigner-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qttools-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtwebview-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc.qtscript/5.12.12-0-202111241638qtscripttools-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc.qtwebengine/5.12.12-0-202111241638qtwebengine-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qdoc-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtdistancefieldgenerator-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtdbus-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtlabscalendar-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtmacextras-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc.qtvirtualkeyboard/5.12.12-0-202111241638qtvirtualkeyboard-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtlocation-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc.qtcharts/5.12.12-0-202111241638qtcharts-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtlinguist-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtmultimedia-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples.qtwebengine/5.12.12-0-202111241638qtwebengine-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtgraphicaleffects-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtspeech-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtbluetooth-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtsvg-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtxmlpatterns-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtxmlpatterns-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtquickdialogs-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtmultimedia-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtremoteobjects-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtsensors-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtserialport-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtconnectivity-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtlocation-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtremoteobjects-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qmake-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtgui-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtuitools-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtwebview-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtimageformats-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtactiveqt-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638tqtc-qt5-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc.qtdatavis3d/5.12.12-0-202111241638qtdatavisualization-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtcore-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtprintsupport-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtconcurrent-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtplatformheaders-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638tqtc-qt5-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples.qtdatavis3d/5.12.12-0-202111241638qtdatavis3d-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qt3d-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtserialport-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtwinextras-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtdoc-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtmacextras-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtspeech-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtwaylandcompositor-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples.qtnetworkauth/5.12.12-0-202111241638qtnetworkauth-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtdeclarative-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtscxml-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtcanvas3d-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtlabsplatform-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtwebchannel-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtandroidextras-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtqmltest-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtquickextras-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtx11extras-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc.qtscript/5.12.12-0-202111241638qtscript-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.doc/5.12.12-0-202111241638qtassistant-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples.qtvirtualkeyboard/5.12.12-0-202111241638qtvirtualkeyboard-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_51212_src_doc_examples/qt.qt5.51212.examples/5.12.12-0-202111241638qtserialbus-examples-5.12.12.7z filter=lfs diff=lfs merge=lfs -text
