.tag                    export-subst
.gitignore              export-ignore
.gitattributes          export-ignore
.commit-template        export-ignore eol=lf
init-repository         export-ignore
README.git              export-ignore
archive/qt/5.15/5.15.2/submodules/qt3d-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtmultimedia-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtscxml-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtspeech-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtwebengine-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtdatavis3d-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtgraphicaleffects-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtnetworkauth-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtwayland-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtbase-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtscript-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtsensors-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtwebchannel-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtactiveqt-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtandroidextras-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtcharts-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtconnectivity-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtquickcontrols2-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtwebsockets-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtxmlpatterns-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtdoc-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtmacextras-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtquick3d-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtquicktimeline-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtwinextras-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtserialport-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/single/qt-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtdeclarative-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtlocation-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtlottie-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtpurchasing-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtquickcontrols-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtremoteobjects-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtgamepad-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtsvg-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qttranslations-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtwebview-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtimageformats-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtserialbus-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qttools-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtvirtualkeyboard-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtwebglplugin-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.2/submodules/qtx11extras-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtwebchannel-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples.qtvirtualkeyboard/5.15.2-0-202011130724qtvirtualkeyboard-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtsvg-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtnetworkauth/5.15.2-0-202011130724qtnetworkauth-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples.qtpurchasing/5.15.2-0-202011130724qtpurchasing-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtwayland-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtgui-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtqml-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtscxml-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtwinextras-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples.qtquick3d/5.15.2-0-202011130724qtquick3d-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtwinextras-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724tqtc-qt5-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtgamepad-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtmultimedia-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtqmlmodels-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtsensors-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples.qtdatavis3d/5.15.2-0-202011130724qtdatavis3d-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtcmake-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtimageformats-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtxml-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtandroidextras-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtwebchannel-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtdoc-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qthelp-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qttranslations-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtquick-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtremoteobjects-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtquickcontrols2-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtassistant-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtprintsupport-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples.qtquicktimeline/5.15.2-0-202011130724qtquicktimeline-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtlocation-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtquickcontrols-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtremoteobjects-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtwebview-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtcore-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtdbus-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtscxml-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qttools-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtnetwork-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtimageformats-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtnfc-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtquickextras-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtdeclarative-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtspeech-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtwebengine/5.15.2-0-202011130724qtwebengine-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtactiveqt-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtbase-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtlocation-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtquickdialogs-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples.qtscript/5.15.2-0-202011130724qtscript-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtmultimedia-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtsensors-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtquick3d/5.15.2-0-202011130724qtquick3d-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtuitools-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtwebsockets-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples.qtlottie/5.15.2-0-202011130724qtlottie-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtserialport-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtconcurrent-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtdesigner-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtlabsplatform-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtlinguist-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtx11extras-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724tqtc-qt5-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724activeqt-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qt3d-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtmacextras-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtqmltest-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtserialbus-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtwaylandcompositor-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtwebview-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtvirtualkeyboard/5.15.2-0-202011130724qtvirtualkeyboard-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtbluetooth-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtplatformheaders-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qttestlib-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtxmlpatterns-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples.qtwebengine/5.15.2-0-202011130724qtwebengine-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtwebsockets-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtmacextras-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtquickcontrols-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtscript/5.15.2-0-202011130724qtscripttools-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtandroidextras-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtspeech-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtlottie/5.15.2-0-202011130724qtlottieanimation-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtquicktimeline/5.15.2-0-202011130724qtquicktimeline-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtwidgets-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtx11extras-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtquickcontrols1-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples.qtcharts/5.15.2-0-202011130724qtcharts-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtdoc-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtxmlpatterns-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtpurchasing/5.15.2-0-202011130724qtpurchasing-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qmake-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtgraphicaleffects-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtlabscalendar-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtopengl-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtsql-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtsvg-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtgamepad-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtscript/5.15.2-0-202011130724qtscript-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtserialport-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtcharts/5.15.2-0-202011130724qtcharts-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qdoc-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qt3d-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtconnectivity-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc.qtdatavis3d/5.15.2-0-202011130724qtdatavisualization-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtdistancefieldgenerator-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.doc/5.15.2-0-202011130724qtpositioning-documentation.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples.qtnetworkauth/5.15.2-0-202011130724qtnetworkauth-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtgraphicaleffects-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
qtsdk.online/windows_x86/desktop/qt5_5152_src_doc_examples/qt.qt5.5152.examples/5.15.2-0-202011130724qtserialbus-examples-5.15.2.7z filter=lfs diff=lfs merge=lfs -text
