.tag                    export-subst
.gitignore              export-ignore
.gitattributes          export-ignore
.commit-template        export-ignore eol=lf
init-repository         export-ignore
README.git              export-ignore
archive/qt/5.15/5.15.16/submodules/qtlottie-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtmqtt-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtnetworkauth-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtbase-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtdoc-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtgraphicaleffects-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtimageformats-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtlocation-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtquick3d-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtspeech-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtxmlpatterns-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtwebsockets-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/single/qt-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtactiveqt-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtcoap-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtknx-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtquickcontrols2-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtcharts-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtquickcontrols-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtserialbus-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtwebglplugin-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtmacextras-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtmultimedia-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtremoteobjects-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtx11extras-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtserialport-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtwebchannel-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtwebengine-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qt3d-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtdatavis3d-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtgamepad-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtpurchasing-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtscxml-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtwebview-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtquicktimeline-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtscript-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtwinextras-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/tqtc-qt5-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtvirtualkeyboard-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtwayland-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtandroidextras-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtconnectivity-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtsensors-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtsvg-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qttools-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtdeclarative-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qtopcua-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
archive/qt/5.15/5.15.16/submodules/qttranslations-everywhere-opensource-src-5.15.16.tar.xz filter=lfs diff=lfs merge=lfs -text
